@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&display=swap');

:root {
  --color-primary: #9696e0;     
  --color-primary-dark: #262626; 
  --color-pink: #d189d1; 
  --color-green: #99ff33;      
  --color-gray-light: #cccccc;      
}

body {
  font-family: 'Parkinsans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

/* carousel */
.mini-slider-pagination-bullet-active {
  background-color: white;
  width: 1.5rem;
}

.slider-pagination-bullet {
  transition: all 0.3s ease;
}

.slider-pagination-bullet-active {
  width: 24px;
  background-color: white;
}

.slide {
  transition: opacity 0.5s ease;
}

.slide-hidden {
  opacity: 0;
  pointer-events: none;
}

/* carusel end */

/* navbar */
.nav-item {
  position: relative;
  padding-bottom: 5px; 
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-primary); 
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.nav-item.active::after {
  width: 100%;
}
